*{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 1fr;
    width: 100%;
    height: 100%;
}

.sidebar{
    background-color: lightblue;
    grid-row: 1 / 3;
    background-image: url(./images/backgrounds/filmtape-cut-no-transp\ \(single\ tape\).png);
    padding: 20px;
    fill: white;
}

.header{
    background-color: white;
    grid-column: 2;
    background-image: url(./images/backgrounds/header.png);
}

.main{
    background-color: grey;
    grid-column: 2;
    grid-row: 2;
    background-image: url(./images/backgrounds/Thought\ cabinet.webp);
    background-size: contain;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.main > div{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px;
}

.main > div > div{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 10px;
    display: grid;
}

.thoughts{
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-content: start;
}


.thought p{
    margin-top: 5px;
}

.icons{
    justify-self: end;
    align-self: end;
}

.tasks{grid-column: 2 / 3;}

.conversations{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#characters, #tasks{
    display: grid;
    align-content: space-around;
    height: 80%;
    margin-top: 20px;
}

.task{
    margin-top: 15px;
}

#characters{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.character{
    display: flex;
    gap: 5px;
    margin: 5px;
}


.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    grid-row: 1 / 3;
}

.name{
    grid-column: 2 / 3;
}

ul{
    list-style: none;
    margin-top: 60px;
}

li{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

li svg{
    margin-right: 5px;
    margin-left: 20px;
}

h2, h3, h4, h5, .name{
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

h2{
    margin-left: 5px;
}

h3, .user, .sidebar{color: white;}

.user{
    display: flex;
    margin: 20px;
}

.description{
    margin-left: 5px;
}

p, li{
    font-family: "Libre Baskerville", serif;
    font-weight: medium;
    font-style: normal;
}

button{
    font-family: "Noto Sans", sans-serif;
}

.icons{
    display: flex;
    gap: 5px;
}

svg{
    height: 20px;
    width: 20px;
}

